@import "tailwindcss";

:root {
  --font-inter: 'Inter', system-ui, sans-serif;
  --font-jetbrains-mono: 'JetBrains Mono', 'Courier New', monospace;
}

html, body {
  height: 100%;
}

body {
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga" 1, "calt" 1;
}

.font-mono {
  font-family: var(--font-jetbrains-mono);
}